<!doctype html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="msapplication-TileColor" content="#0061da">
		<meta name="theme-color" content="#1643a3">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<link rel="icon" href="favicon.ico" type="image/x-icon"/>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

		<!-- TITLE -->
		<title>Arox – Bootstrap Responsive Modern Clean Trasparent Admin Panel Dashboard Html Template..</title>

		<!-- DASHBOARD CSS -->
		<link href="../assets/css/dashboard.css" rel="stylesheet"/>

		<!-- COLOR-THEMES CSS -->
		<link href="../assets/css/color-themes.css" rel="stylesheet"/>

		<!-- Sidemenu css -->
		<link id="side" href="../assets/plugins/side-menu/full-sidemenu.css" rel="stylesheet" />

		<!-- Sidebar Accordions css -->
		<link href="../assets/plugins/sidemenu-responsive-tabs/css/easy-responsive-tabs.css" rel="stylesheet">

		<!-- Perfect scroll bar css-->
		<link href="../assets/plugins/pscrollbar/perfect-scrollbar.css" rel="stylesheet" />

		<!--C3.JS CHARTS PLUGIN -->
		<link href="../assets/plugins/charts-c3/c3-chart.css" rel="stylesheet"/>

		<!-- TABS CSS -->
		<link href="../assets/plugins/tabs/tabs-style2.css" rel="stylesheet" type="text/css">

		<!-- CUSTOM SCROLL BAR CSS-->
		<link href="../assets/plugins/mcustomscrollbar/jquery.mCustomScrollbar.css" rel="stylesheet"/>

		<!--- FONT-ICONS CSS -->
		<link href="../assets/css/icons.css" rel="stylesheet"/>

		<!-- RIGHT-MENU CSS -->
		<link href="../assets/plugins/sidebar/sidebar.css" rel="stylesheet">

		<!-- LEFT-SIDEMENU CSS -->
		<link href="../assets/plugins/jquery-jside-menu-master/css/jside-menu.css" rel="stylesheet"/>
		<link href="../assets/plugins/jquery-jside-menu-master/css/jside-skins.css" rel="stylesheet"/>

		<!-- SELECT2 CSS -->
		<link href="../assets/plugins/select2/select2.min.css" rel="stylesheet"/>

		<!-- TIME PICKER CSS -->
		<link href="../assets/plugins/time-picker/jquery.timepicker.css" rel="stylesheet"/>

		<!-- DATE PICKER CSS -->
		<link href="../assets/plugins/spectrum-date-picker/spectrum.css" rel="stylesheet"/>

		<!-- MULTI SELECT CSS -->
		<link rel="stylesheet" href="../assets/plugins/multipleselect/multiple-select.css">

		<!-- FILE UPLODES -->
        <link href="../assets/plugins/fileuploads/css/dropify.min.css" rel="stylesheet" type="text/css"/>

	</head>
	<body class="app sidebar-mini rtl">

		<!-- GLOBAL-LOADER -->
		<div id="global-loader">
			<img src="../assets/images/loader.svg" class="loader-img" alt="Loader">
		</div>

		<div class="page">
			<div class="page-main">

				<!-- Sidebar menu-->
				<!--sidemenu end-->

				<!-- app-content-->
				<div class="app-content  my-3 my-md-5">

					<!-- HEADER -->
					<!-- HEADER END -->

					<!--Resposnisve Navbar-->
					<!--/Resposnisve Navbar-->



					<div class="side-app">

						<!-- ROW-1 OPEN -->
						<!-- ROW-1 CLOSED -->

						<!-- ROW-2 OPEN -->
						<!-- ROW-2 CLOSED -->

						<!-- ROW-3 OPEN -->
						<!-- ROW-3 CLOSED -->

						<!-- ROW-4 OPEN -->
						<!-- ROW-4 CLOSED -->

						<!-- ROW-5 OPEN -->
						<!-- ROW-5 CLOSED -->

						<!-- ROW-6 OPEN -->
						<!-- ROW-6 CLOSED -->

						<!-- ROW-7 OPEN -->
						<div class="row">
							<div class="col-lg-6">
								<div class="card">
									<div class="card-header">
										<div class="card-title">Default Date picker</div>
									</div>
									<div class="card-body">
										<p class="mg-b-20 mg-sm-b-40">The datepicker is tied to a standard form input field. Click on the input to open an interactive calendar in a small overlay. If a date is chosen, feedback is shown as the input's value.</p>
										<div class="wd-200 mg-b-30">
											<div class="input-group">
												<div class="input-group-prepend">
													<div class="input-group-text br-tr-0 br-br-0">
														<i class="fa fa-calendar tx-16 lh-0 op-6"></i>
													</div>
												</div><input class="form-control br-bl-0 br-tl-0 fc-datepicker" placeholder="MM/DD/YYYY" type="text">
											</div>
										</div>
									</div>
								</div>
							</div><!-- COL END -->
							<div class="col-lg-6">
								<div class="card">
									<div class="card-header">
										<div class="card-title">Multiple Months </div>
									</div>
									<div class="card-body">
										<p class="mg-b-20 mg-sm-b-40">The datepicker is tied to a standard form input field. Click on the input to open an interactive calendar in a small overlay. If a date is chosen, feedback is shown as the input's value.</p>
										<div class="wd-200 mg-b-30">
											<div class="input-group">
												<div class="input-group-prepend">
													<div class="input-group-text br-tr-0 br-br-0">
														<i class="fa fa-calendar tx-16 lh-0 op-6"></i>
													</div>
												</div><input class="form-control br-bl-0 br-tl-0" id="datepickerNoOfMonths" placeholder="MM/DD/YYYY" type="text">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- ROW-7 CLOSED -->
					</div>
					<!-- CONTAINER CLOSED -->
				</div>
			</div>

			<!-- RIGHT-SIDEBAR OPEN -->
			<div class="sidebar sidebar-right sidebar-animate">
			    <div class=" close-button float-right">
					<a href="#" data-toggle="sidebar-right" data-target=".sidebar-right"><i class="fe fe-x  text-white"></i></a>
				</div>
				<div class="tab-menu-heading siderbar-tabs border-0 ">
					<div class="tabs-menu ">
						<!-- Tabs -->
						<ul class="nav panel-tabs">
							<li class=""><a href="#tab1" class="active" data-toggle="tab">Friends</a></li>
							<li><a href="#tab2" data-toggle="tab">Online</a></li>
							<li><a href="#tab3" data-toggle="tab">Archive</a></li>
						</ul>
					</div>
				</div>
				<div class="panel-body tabs-menu-body side-tab-body p-0 border-0 ">
					<div class="tab-content border-top">
						<div class="tab-pane active" id="tab1">
							<div class="chat">
								<div class="contacts_card">
									<div class="input-group mb-0 p-3 border-bottom">
										<input type="text" placeholder="Search..." class="form-control search">
										<div class="input-group-prepend mr-0">
											<span class="input-group-text border-right search_btn btn-primary-light "><i class="fa fa-search text-white"></i></span>
										</div>
									</div>
									<div class="contacts mb-0">
										<div class="list-group list-group-flush ">
											<div class="list-group-item d-flex  align-items-center">
												<div class="mr-2">
													<span class="avatar  brround avatar-md cover-image" data-image-src="../assets/images/faces/female/1.jpg" ><span class="avatar-status bg-green"></span></span>
												</div>
												<div class="">
													<div class="font-weight-semibold">Darlena Torian</div>
												</div>
												<div class="ml-auto">
													<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-phone fs-10"></i></a>
													<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-comment fs-10"></i></a>
												</div>
											</div>
											<div class="list-group-item d-flex  align-items-center">
												<div class="mr-2">
													<span class="avatar brround avatar-md cover-image" data-image-src="../assets/images/faces/male/2.jpg"></span>
												</div>
												<div class="">
													<div class="font-weight-semibold">Richie Verrill</div>
												</div>
												<div class="ml-auto">
													<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-phone fs-10"></i></a>
													<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-comment fs-10"></i></a>
												</div>
											</div>
											<div class="list-group-item d-flex  align-items-center">
												<div class="mr-2">
													<span class="avatar brround avatar-md cover-image" data-image-src="../assets/images/faces/female/3.jpg"><span class="avatar-status bg-green"></span></span>
												</div>
												<div class="">
													<div class="font-weight-semibold">Cheree Morgan</div>
												</div>
												<div class="ml-auto">
													<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-phone fs-10"></i></a>
													<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-comment fs-10"></i></a>
												</div>
											</div>
											<div class="list-group-item d-flex  align-items-center">
												<div class="mr-2">
													<span class="avatar brround avatar-md cover-image" data-image-src="../assets/images/faces/female/4.jpg"><span class="avatar-status bg-green"></span></span>
												</div>
												<div class="">
													<div class="font-weight-semibold">Katerine Coit</div>
												</div>
												<div class="ml-auto">
													<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-phone fs-10"></i></a>
													<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-comment fs-10"></i></a>
												</div>
											</div>
											<div class="list-group-item d-flex  align-items-center">
												<div class="mr-2">
													<span class="avatar  brround avatar-md cover-image" data-image-src="../assets/images/faces/male/5.jpg" ><span class="avatar-status bg-green"></span></span>
												</div>
												<div class="">
													<div class="font-weight-semibold">Hai Indelicato</div>
												</div>
												<div class="ml-auto">
													<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-phone fs-10"></i></a>
													<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-comment fs-10"></i></a>
												</div>
											</div>
											<div class="list-group-item d-flex  align-items-center">
												<div class="mr-2">
													<span class="avatar brround avatar-md cover-image" data-image-src="../assets/images/faces/female/6.jpg"></span>
												</div>
												<div class="">
													<div class="font-weight-semibold">Cecilia Kerfoot</div>
												</div>
												<div class="ml-auto">
													<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-phone fs-10"></i></a>
													<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-comment fs-10"></i></a>
												</div>
											</div>
											<div class="list-group-item d-flex  align-items-center">
												<div class="mr-2">
													<span class="avatar brround avatar-md cover-image" data-image-src="../assets/images/faces/male/7.jpg"><span class="avatar-status bg-green"></span></span>
												</div>
												<div class="">
													<div class="font-weight-semibold">Ronald Zirbel</div>
												</div>
												<div class="ml-auto">
													<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-phone fs-10"></i></a>
													<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-comment fs-10"></i></a>
												</div>
											</div>
											<div class="list-group-item d-flex  align-items-center">
												<div class="mr-2">
													<span class="avatar brround avatar-md cover-image" data-image-src="../assets/images/faces/male/8.jpg"><span class="avatar-status bg-green"></span></span>
												</div>
												<div class="">
													<div class="font-weight-semibold">Darren Niemann</div>
												</div>
												<div class="ml-auto">
													<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-phone fs-10"></i></a>
													<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-comment fs-10"></i></a>
												</div>
											</div>
											<div class="list-group-item d-flex  align-items-center">
												<div class="mr-2">
													<span class="avatar  brround avatar-md cover-image" data-image-src="../assets/images/faces/female/9.jpg" ><span class="avatar-status bg-green"></span></span>
												</div>
												<div class="">
													<div class="font-weight-semibold">Sibyl Cogley</div>
												</div>
												<div class="ml-auto">
													<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-phone fs-10"></i></a>
													<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-comment fs-10"></i></a>
												</div>
											</div>
											<div class="list-group-item d-flex  align-items-center">
												<div class="mr-2">
													<span class="avatar brround avatar-md cover-image" data-image-src="../assets/images/faces/male/10.jpg"></span>
												</div>
												<div class="">
													<div class="font-weight-semibold">Jess Hildebrandt</div>
												</div>
												<div class="ml-auto">
													<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-phone fs-10"></i></a>
													<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-comment fs-10"></i></a>
												</div>
											</div>
											<div class="list-group-item d-flex  align-items-center">
												<div class="mr-2">
													<span class="avatar brround avatar-md cover-image" data-image-src="../assets/images/faces/female/11.jpg"><span class="avatar-status bg-green"></span></span>
												</div>
												<div class="">
													<div class="font-weight-semibold">Wanita Sheppard</div>
												</div>
												<div class="ml-auto">
													<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-phone fs-10"></i></a>
													<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-comment fs-10"></i></a>
												</div>
											</div>
											<div class="list-group-item d-flex  align-items-center">
												<div class="mr-2">
													<span class="avatar brround avatar-md cover-image" data-image-src="../assets/images/faces/female/12.jpg"><span class="avatar-status bg-green"></span></span>
												</div>
												<div class="">
													<div class="font-weight-semibold">Deane Dreher</div>
												</div>
												<div class="ml-auto">
													<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-phone fs-10"></i></a>
													<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-comment fs-10"></i></a>
												</div>
											</div>
											<div class="list-group-item d-flex  align-items-center">
												<div class="mr-2">
													<span class="avatar  brround avatar-md cover-image" data-image-src="../assets/images/faces/male/13.jpg" ><span class="avatar-status bg-green"></span></span>
												</div>
												<div class="">
													<div class="font-weight-semibold">Lavern Alverson</div>
												</div>
												<div class="ml-auto">
													<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-phone fs-10"></i></a>
													<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-comment fs-10"></i></a>
												</div>
											</div>
											<div class="list-group-item d-flex  align-items-center">
												<div class="mr-2">
													<span class="avatar brround avatar-md cover-image" data-image-src="../assets/images/faces/female/14.jpg"></span>
												</div>
												<div class="">
													<div class="font-weight-semibold">Caitlin Canas</div>
												</div>
												<div class="ml-auto">
													<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-phone fs-10"></i></a>
													<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-comment fs-10"></i></a>
												</div>
											</div>
											<div class="list-group-item d-flex  align-items-center">
												<div class="mr-2">
													<span class="avatar brround avatar-md cover-image" data-image-src="../assets/images/faces/male/15.jpg"><span class="avatar-status bg-green"></span></span>
												</div>
												<div class="">
													<div class="font-weight-semibold">Santos Yadao</div>
												</div>
												<div class="ml-auto">
													<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-phone fs-10"></i></a>
													<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-comment fs-10"></i></a>
												</div>
											</div>
											<div class="list-group-item d-flex  align-items-center">
												<div class="mr-2">
													<span class="avatar brround avatar-md cover-image" data-image-src="../assets/images/faces/female/16.jpg"><span class="avatar-status bg-green"></span></span>
												</div>
												<div class="">
													<div class="font-weight-semibold">Melodi Krantz</div>
												</div>
												<div class="ml-auto">
													<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-phone fs-10"></i></a>
													<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-comment fs-10"></i></a>
												</div>
											</div>
											<div class="list-group-item d-flex  align-items-center">
												<div class="mr-2">
													<span class="avatar  brround avatar-md cover-image" data-image-src="../assets/images/faces/female/17.jpg" ><span class="avatar-status bg-green"></span></span>
												</div>
												<div class="">
													<div class="font-weight-semibold">Daisey Highfill</div>
												</div>
												<div class="ml-auto">
													<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-phone fs-10"></i></a>
													<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-comment fs-10"></i></a>
												</div>
											</div>
											<div class="list-group-item d-flex  align-items-center">
												<div class="mr-2">
													<span class="avatar brround avatar-md cover-image" data-image-src="../assets/images/faces/male/18.jpg"></span>
												</div>
												<div class="">
													<div class="font-weight-semibold">Gregg Rossow</div>
												</div>
												<div class="ml-auto">
													<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-phone fs-10"></i></a>
													<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-comment fs-10"></i></a>
												</div>
											</div>
											<div class="list-group-item d-flex  align-items-center">
												<div class="mr-2">
													<span class="avatar brround avatar-md cover-image" data-image-src="../assets/images/faces/male/19.jpg"><span class="avatar-status bg-green"></span></span>
												</div>
												<div class="">
													<div class="font-weight-semibold">Clint Dejesus</div>
												</div>
												<div class="ml-auto">
													<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-phone fs-10"></i></a>
													<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-comment fs-10"></i></a>
												</div>
											</div>
											<div class="list-group-item d-flex  align-items-center">
												<div class="mr-2">
													<span class="avatar brround avatar-md cover-image" data-image-src="../assets/images/faces/female/20.jpg"><span class="avatar-status bg-green"></span></span>
												</div>
												<div class="">
													<div class="font-weight-semibold">Florida Pearsall</div>
												</div>
												<div class="ml-auto">
													<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-phone fs-10"></i></a>
													<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-comment fs-10"></i></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div><!-- TAB-1 END -->
						<div class="tab-pane" id="tab2">
							<div class="input-group mb-0 p-3 border-bottom">
								<input type="text" placeholder="Search..." class="form-control search">
								<div class="input-group-prepend mr-0">
									<span class="input-group-text border-right search_btn btn-primary-light "><i class="fa fa-search text-white"></i></span>
								</div>
							</div>
							<div class="contacts mb-0">
								<div class="list-group list-group-flush ">
									<div class="list-group-item d-flex  align-items-center">
										<div class="mr-2">
											<span class="avatar  brround avatar-md cover-image" data-image-src="../assets/images/faces/female/1.jpg" ><span class="avatar-status bg-green"></span></span>
										</div>
										<div class="">
											<div class="font-weight-semibold">Darlena Torian</div>
										</div>
										<div class="ml-auto">
											<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-phone fs-10"></i></a>
											<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-comment fs-10"></i></a>
										</div>
									</div>
									<div class="list-group-item d-flex  align-items-center">
										<div class="mr-2">
											<span class="avatar brround avatar-md cover-image" data-image-src="../assets/images/faces/female/3.jpg"><span class="avatar-status bg-green"></span></span>
										</div>
										<div class="">
											<div class="font-weight-semibold">Cheree Morgan</div>
										</div>
										<div class="ml-auto">
											<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-phone fs-10"></i></a>
											<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-comment fs-10"></i></a>
										</div>
									</div>
									<div class="list-group-item d-flex  align-items-center">
										<div class="mr-2">
											<span class="avatar brround avatar-md cover-image" data-image-src="../assets/images/faces/female/4.jpg"><span class="avatar-status bg-green"></span></span>
										</div>
										<div class="">
											<div class="font-weight-semibold">Katerine Coit</div>
										</div>
										<div class="ml-auto">
											<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-phone fs-10"></i></a>
											<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-comment fs-10"></i></a>
										</div>
									</div>
									<div class="list-group-item d-flex  align-items-center">
										<div class="mr-2">
											<span class="avatar  brround avatar-md cover-image" data-image-src="../assets/images/faces/male/5.jpg" ><span class="avatar-status bg-green"></span></span>
										</div>
										<div class="">
											<div class="font-weight-semibold">Hai Indelicato</div>
										</div>
										<div class="ml-auto">
											<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-phone fs-10"></i></a>
											<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-comment fs-10"></i></a>
										</div>
									</div>
									<div class="list-group-item d-flex  align-items-center">
										<div class="mr-2">
											<span class="avatar brround avatar-md cover-image" data-image-src="../assets/images/faces/male/7.jpg"><span class="avatar-status bg-green"></span></span>
										</div>
										<div class="">
											<div class="font-weight-semibold">Ronald Zirbel</div>
										</div>
										<div class="ml-auto">
											<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-phone fs-10"></i></a>
											<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-comment fs-10"></i></a>
										</div>
									</div>
									<div class="list-group-item d-flex  align-items-center">
										<div class="mr-2">
											<span class="avatar brround avatar-md cover-image" data-image-src="../assets/images/faces/male/8.jpg"><span class="avatar-status bg-green"></span></span>
										</div>
										<div class="">
											<div class="font-weight-semibold">Darren Niemann</div>
										</div>
										<div class="ml-auto">
											<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-phone fs-10"></i></a>
											<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-comment fs-10"></i></a>
										</div>
									</div>
									<div class="list-group-item d-flex  align-items-center">
										<div class="mr-2">
											<span class="avatar  brround avatar-md cover-image" data-image-src="../assets/images/faces/female/9.jpg" ><span class="avatar-status bg-green"></span></span>
										</div>
										<div class="">
											<div class="font-weight-semibold">Sibyl Cogley</div>
										</div>
										<div class="ml-auto">
											<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-phone fs-10"></i></a>
											<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-comment fs-10"></i></a>
										</div>
									</div>
									<div class="list-group-item d-flex  align-items-center">
										<div class="mr-2">
											<span class="avatar brround avatar-md cover-image" data-image-src="../assets/images/faces/female/11.jpg"><span class="avatar-status bg-green"></span></span>
										</div>
										<div class="">
											<div class="font-weight-semibold">Wanita Sheppard</div>
										</div>
										<div class="ml-auto">
											<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-phone fs-10"></i></a>
											<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-comment fs-10"></i></a>
										</div>
									</div>
									<div class="list-group-item d-flex  align-items-center">
										<div class="mr-2">
											<span class="avatar brround avatar-md cover-image" data-image-src="../assets/images/faces/female/12.jpg"><span class="avatar-status bg-green"></span></span>
										</div>
										<div class="">
											<div class="font-weight-semibold">Deane Dreher</div>
										</div>
										<div class="ml-auto">
											<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-phone fs-10"></i></a>
											<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-comment fs-10"></i></a>
										</div>
									</div>
									<div class="list-group-item d-flex  align-items-center">
										<div class="mr-2">
											<span class="avatar  brround avatar-md cover-image" data-image-src="../assets/images/faces/male/13.jpg" ><span class="avatar-status bg-green"></span></span>
										</div>
										<div class="">
											<div class="font-weight-semibold">Lavern Alverson</div>
										</div>
										<div class="ml-auto">
											<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-phone fs-10"></i></a>
											<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-comment fs-10"></i></a>
										</div>
									</div>
									<div class="list-group-item d-flex  align-items-center">
										<div class="mr-2">
											<span class="avatar brround avatar-md cover-image" data-image-src="../assets/images/faces/male/15.jpg"><span class="avatar-status bg-green"></span></span>
										</div>
										<div class="">
											<div class="font-weight-semibold">Santos Yadao</div>
										</div>
										<div class="ml-auto">
											<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-phone fs-10"></i></a>
											<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-comment fs-10"></i></a>
										</div>
									</div>
									<div class="list-group-item d-flex  align-items-center">
										<div class="mr-2">
											<span class="avatar brround avatar-md cover-image" data-image-src="../assets/images/faces/female/16.jpg"><span class="avatar-status bg-green"></span></span>
										</div>
										<div class="">
											<div class="font-weight-semibold">Melodi Krantz</div>
										</div>
										<div class="ml-auto">
											<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-phone fs-10"></i></a>
											<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-comment fs-10"></i></a>
										</div>
									</div>
									<div class="list-group-item d-flex  align-items-center">
										<div class="mr-2">
											<span class="avatar  brround avatar-md cover-image" data-image-src="../assets/images/faces/female/17.jpg" ><span class="avatar-status bg-green"></span></span>
										</div>
										<div class="">
											<div class="font-weight-semibold">Daisey Highfill</div>
										</div>
										<div class="ml-auto">
											<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-phone fs-10"></i></a>
											<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-comment fs-10"></i></a>
										</div>
									</div>
									<div class="list-group-item d-flex  align-items-center">
										<div class="mr-2">
											<span class="avatar brround avatar-md cover-image" data-image-src="../assets/images/faces/male/19.jpg"><span class="avatar-status bg-green"></span></span>
										</div>
										<div class="">
											<div class="font-weight-semibold">Clint Dejesus</div>
										</div>
										<div class="ml-auto">
											<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-phone fs-10"></i></a>
											<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-comment fs-10"></i></a>
										</div>
									</div>
									<div class="list-group-item d-flex  align-items-center">
										<div class="mr-2">
											<span class="avatar brround avatar-md cover-image" data-image-src="../assets/images/faces/female/20.jpg"><span class="avatar-status bg-green"></span></span>
										</div>
										<div class="">
											<div class="font-weight-semibold">Florida Pearsall</div>
										</div>
										<div class="ml-auto">
											<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-phone fs-10"></i></a>
											<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-comment fs-10"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div><!-- TAB-2 END -->
						<div class="tab-pane" id="tab3">
							<div class="input-group mb-0 p-3 border-bottom">
								<input type="text" placeholder="Search..." class="form-control search">
								<div class="input-group-prepend mr-0">
									<span class="input-group-text border-right search_btn btn-primary-light "><i class="fa fa-search text-white"></i></span>
								</div>
							</div>
							<div class="contacts mb-0">
								<div class="list-group list-group-flush ">
									<div class="list-group-item d-flex  align-items-center">
										<div class="mr-2">
											<span class="avatar brround avatar-md cover-image" data-image-src="../assets/images/faces/male/2.jpg"></span>
										</div>
										<div class="">
											<div class="font-weight-semibold">Richie Verrill</div>
										</div>
										<div class="ml-auto">
											<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-phone fs-10"></i></a>
											<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-comment fs-10"></i></a>
										</div>
									</div>
									<div class="list-group-item d-flex  align-items-center">
										<div class="mr-2">
											<span class="avatar brround avatar-md cover-image" data-image-src="../assets/images/faces/female/6.jpg"></span>
										</div>
										<div class="">
											<div class="font-weight-semibold">Cecilia Kerfoot</div>
										</div>
										<div class="ml-auto">
											<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-phone fs-10"></i></a>
											<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-comment fs-10"></i></a>
										</div>
									</div>
									<div class="list-group-item d-flex  align-items-center">
										<div class="mr-2">
											<span class="avatar brround avatar-md cover-image" data-image-src="../assets/images/faces/male/10.jpg"></span>
										</div>
										<div class="">
											<div class="font-weight-semibold">Jess Hildebrandt</div>
										</div>
										<div class="ml-auto">
											<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-phone fs-10"></i></a>
											<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-comment fs-10"></i></a>
										</div>
									</div>
									<div class="list-group-item d-flex  align-items-center">
										<div class="mr-2">
											<span class="avatar brround avatar-md cover-image" data-image-src="../assets/images/faces/female/14.jpg"></span>
										</div>
										<div class="">
											<div class="font-weight-semibold">Caitlin Canas</div>
										</div>
										<div class="ml-auto">
											<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-phone fs-10"></i></a>
											<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-comment fs-10"></i></a>
										</div>
									</div>
									<div class="list-group-item d-flex  align-items-center">
										<div class="mr-2">
											<span class="avatar brround avatar-md cover-image" data-image-src="../assets/images/faces/male/18.jpg"></span>
										</div>
										<div class="">
											<div class="font-weight-semibold">Gregg Rossow</div>
										</div>
										<div class="ml-auto">
											<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-phone fs-10"></i></a>
											<a href="#" class="btn btn-sm btn-default-light btn-icon"><i class="fa fa-comment fs-10"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div><!-- TAB-3 END -->
					</div>
				</div>
			</div>
			<!-- RIGHT-SIDEBAR -->

			<!-- FOOTER -->
			<footer class="footer">
				<div class="container">
					<div class="row align-items-center flex-row-reverse">
						<div class="col-md-12 col-sm-12 text-center">
							Copyright © 2019 <a href="#">Arox</a>. Designed by <a href="#">Spruko</a> All rights reserved.
						</div>
					</div>
				</div>
			</footer>
			<!-- FOOTER END -->
		</div>

		<!-- BACK-TO-TOP -->
		<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

		<!-- JQUERY SCRIPTS -->
		<script src="../assets/js/vendors/jquery-3.2.1.min.js"></script>

		<!-- BOOTSTRAP SCRIPTS -->
		<script src="../assets/js/vendors/bootstrap.bundle.min.js"></script>

		<!-- RATING STAR -->
		<script src="../assets/plugins/rating/jquery.rating-stars.js"></script>

		<!-- CHART-CIRCLE -->
		<script src="../assets/js/vendors/circle-progress.min.js"></script>

		<!-- CHARTJS CHART -->
		<script src="../assets/plugins/chart/Chart.bundle.js"></script>
		<script src="../assets/plugins/chart/utils.js"></script>

		<!-- C3.JS CHART PLUGIN -->
		<script src="../assets/plugins/charts-c3/d3.v5.min.js"></script>
		<script src="../assets/plugins/charts-c3/c3-chart.js"></script>

		<!-- INPUT MASK PLUGIN-->
		<script src="../assets/plugins/input-mask/jquery.mask.min.js"></script>

        <!-- CUSTOM SCROLLBAR -->
		<script src="../assets/plugins/mcustomscrollbar/jquery.mCustomScrollbar.concat.min.js"></script>

		<!--Side-menu js-->
		<script src="../assets/plugins/side-menu/sidemenu.js"></script>

		<!-- STICKY JS-->
		<script src="../assets/js/sticky.js"></script>
		<script src="../assets/js/horizontal-sticky.js"></script>

		<!-- Sidebar Accordions js -->
		<script src="../assets/plugins/sidemenu-responsive-tabs/js/easyResponsiveTabs.js"></script>

		<!-- Perfect scroll bar js-->
		<script src="../assets/plugins/pscrollbar/perfect-scrollbar.js"></script>

		<!-- SELECT2 PLUGIN -->
		<script src="../assets/plugins/select2/select2.full.min.js"></script>

		<!-- RIGHT-MENU JS -->
		<script src="../assets/plugins/sidebar/sidebar.js"></script>

		<!-- TIMEPICKER JS -->
		<script src="../assets/plugins/time-picker/jquery.timepicker.js"></script>
		<script src="../assets/plugins/time-picker/toggles.min.js"></script>

		<!-- DATEPICKER JS -->
		<script src="../assets/plugins/spectrum-date-picker/spectrum.js"></script>
		<script src="../assets/plugins/spectrum-date-picker/jquery-ui.js"></script>
		<script src="../assets/plugins/input-mask/jquery.maskedinput.js"></script>

		<!-- DATA TABLE -->
		<script src="../assets/plugins/datatable/jquery.dataTables.min.js"></script>
		<script src="../assets/plugins/datatable/dataTables.bootstrap4.min.js"></script>

		<!-- SELECT2 JS -->
		<script src="../assets/js/select2.js"></script>

		<!-- FILE UPLOADES JS -->
        <script src="../assets/plugins/fileuploads/js/dropify.min.js"></script>
        <script src="../assets/plugins/fileuploads/js/file-upload.js"></script>

		<!-- LEFT-SIDEMENU PLUGIN -->
		<script src="../assets/plugins/jquery-jside-menu-master/js/jquery.jside.menu.js"></script>

		<!-- MULTI SELECT JS-->
		<script src="../assets/plugins/multipleselect/multiple-select.js"></script>
		<script src="../assets/plugins/multipleselect/multi-select.js"></script>

		<!-- Left CUSTOM JS-->
		<script src="../assets/js/left-custom.js"></script>

		<!-- CUSTOM JS -->
		<script src="../assets/js/custom.js"></script>

	</body>
</html>


