<!doctype html>
<html lang="en" dir="ltr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="msapplication-TileColor" content="#0061da">
	<meta name="theme-color" content="#1643a3">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<link rel="icon" href="favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

	<!-- TITLE -->
	<title>Arox – Bootstrap Responsive Modern Clean Trasparent Admin Panel Dashboard Html Template..</title>

	<!-- DASHBOARD CSS -->
	<link href="../assets/css/dashboard.css" rel="stylesheet" />

	<!-- COLOR-THEMES CSS -->
	<link href="../assets/css/color-themes.css" rel="stylesheet" />

	<!-- Sidemenu css -->
	<link id="side" href="../assets/plugins/side-menu/full-sidemenu.css" rel="stylesheet" />

	<!-- Sidebar Accordions css -->
	<link href="../assets/plugins/sidemenu-responsive-tabs/css/easy-responsive-tabs.css" rel="stylesheet">

	<!-- Perfect scroll bar css-->
	<link href="../assets/plugins/pscrollbar/perfect-scrollbar.css" rel="stylesheet" />

	<!-- SINGLE-PAGE CSS -->
	<link href="../assets/plugins/single-page/css/main.css" rel="stylesheet" type="text/css">

	<!--C3.JS CHARTS PLUGIN -->
	<link href="../assets/plugins/charts-c3/c3-chart.css" rel="stylesheet" />

	<!-- CUSTOM SCROLL BAR CSS-->
	<link href="../assets/plugins/mcustomscrollbar/jquery.mCustomScrollbar.css" rel="stylesheet" />

	<!--- FONT-ICONS CSS -->
	<link href="../assets/css/icons.css" rel="stylesheet" />

	<style>
		/* Set video background to cover the entire page */
		.video-background {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			z-index: -1;
		}

		/* Make the video cover the entire area */
		#bgvid {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		/* Adjust the login form container position and style */
		.col-login {
			padding: 20px;
			/* Adjust the transparency as needed */
			/* Add any other necessary styling for your form container */
		}

		/* Responsive adjustments */
		@media (max-width: 767px) {
			.col-login {
				margin-top: 50px;
				/* Adjust as needed for mobile devices */
				background-color: transparent;
				/* Optional: make form background transparent on small screens */
			}
		}
	</style>
</head>

<body class="app sidebar-mini rtl">
	<div id="global-loader">
		<img src="../assets/images/loader.svg" class="loader-img" alt="Loader">
	</div>

	<div class="page">
		<div class="video-background">
			<video playsinline autoplay muted loop id="bgvid">
				<source src="../assets/images/190111_04_TaksinBridge_Drone_02_1080p_12000br.mp4" type="video/mp4">
			</video>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-12 col-md-6 offset-md-6">
					<div class="col col-login mx-auto" style="background-color: #03256c; border-radius: 2%;">
						<div class="text-center">
							<img src="../assets/images/brand/LogoBatt.png" width="200">
						</div>
						<br>
						<form class="validate-form">
							<span class="login-form-title">
								เข้าสู่ระบบ
							</span>
							<div class="access-input validate-input" data-validate="กรุณากรอกอีเมล์ให้ถูกต้อง">
								<input class="login-input" type="text" name="email" placeholder="Email">
								<span class="input-focus"></span>
								<span class="input-symbol">
									<i class="zmdi zmdi-email" aria-hidden="true"></i>
								</span>
							</div>
							<div class="access-input validate-input" data-validate="กรุณากรอกรหัสผ่าน">
								<input class="login-input" type="password" name="pass" placeholder="รหัสผ่าน">
								<span class="input-focus"></span>
								<span class="input-symbol">
									<i class="zmdi zmdi-lock" aria-hidden="true"></i>
								</span>
							</div>
							<hr>
							<!-- <div class="text-right pt-3 pb-3">
							<p class="mb-0"><a href="forgot-password.html" class="text-primary ml-1">ลืมรหัสผ่าน?</a></p>
						</div> -->
							<div class="">
								<button type="submit" class="btn btn-primary-light btn-block">เข้าสู่ระบบ</button>
							</div>
							<!-- <div class="text-center pt-3">
							<p class="mb-0">Not a member?<a href="register.html" class="text-primary ml-1">Sign UP now</a></p>
						</div> -->
							<!-- <div class=" flex-c-m text-center mt-3">
							<p>Or</p>
							<div class="social-icons">
								<ul>
									<li><a class="btn  btn-social btn-block"><i class="fa fa-google-plus"></i> Sign up with Google</a></li>
									<li><a class="btn  btn-social btn-block mt-2"><i class="fa fa-facebook"></i> Sign in with Facebook</a></li>
								</ul>
							</div>
						</div> -->
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- JQUERY SCRIPTS -->
	<script src="../assets/js/vendors/jquery-3.2.1.min.js"></script>

	<!-- BOOTSTRAP SCRIPTS -->
	<script src="../assets/js/vendors/bootstrap.bundle.min.js"></script>

	<!-- SPARKLINE -->
	<script src="../assets/js/vendors/jquery.sparkline.min.js"></script>

	<!-- CHART-CIRCLE -->
	<script src="../assets/js/vendors/circle-progress.min.js"></script>

	<!-- RATING STAR -->
	<script src="../assets/plugins/rating/jquery.rating-stars.js"></script>

	<!-- INPUT MASK PLUGIN-->
	<script src="../assets/plugins/input-mask/jquery.mask.min.js"></script>

	<!-- CUSTOM SCROLL BAR JS-->
	<script src="../assets/plugins/mcustomscrollbar/jquery.mCustomScrollbar.concat.min.js"></script>


	<!-- Left CUSTOM JS-->
	<script src="../assets/js/left-custom.js"></script>

	<!-- CUSTOM JS-->
	<script src="../assets/js/custom.js"></script>

</body>

</html>